*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#selectArea{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 2px black solid;
    flex-direction: column;
}

#displayAreaPokemon{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#selectRandom{
    border: 1px black solid;
    width: 250px;
    height: 250px;
}
#random{
    margin-left: 30%;
}
#selectRandomDisplay{
    display: flex;
    height: 200px;
    width: 200px;

}
#smallDisplay{
    height: 200px;
    width: 300px;
    margin-right: 10%;
    border: 1px solid black;
}
#leftArrow{
    clip-path: square(50%);
    width: 100px;
    transform: scaleX(-1);
}
#rightArrow{
    clip-path: square(50%);
    width: 100px;
}